workflows/aU5dvFcfuXZezEAk.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get all files in given path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all files in given path": {
      "main": [
        [
          {
            "node": "Split the result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split the result": {
      "main": [
        [
          {
            "node": "Get file content from GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file content from GitHub": {
      "main": [
        [
          {
            "node": "Convert files to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert files to JSON": {
      "main": [
        [
          {
            "node": "Restore n8n Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-09T05:57:07.188Z",
  "id": "aU5dvFcfuXZezEAk",
  "isArchived": false,
  "meta": null,
  "name": "Restore your workflows from GitHub",
  "nodes": [
    {
      "parameters": {},
      "id": "036e211e-94b7-42f0-9f81-928ef97198b9",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -320,
        -160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
              "name": "repo.owner",
              "type": "string",
              "value": "amitvishwa19"
            },
            {
              "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
              "name": "repo.name",
              "type": "string",
              "value": "n8n-backup-v2"
            },
            {
              "id": "81c4dc54-86bf-4432-a23f-22c7ea831e74",
              "name": "repo.path",
              "type": "string",
              "value": "workflows"
            }
          ]
        },
        "options": {}
      },
      "id": "5542f4df-822e-44d7-b8bf-cfac3a17dd73",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -128,
        -160
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Restore from GitHub \nThis workflow will restore all instance workflows from GitHub backups.\n\n\n### Setup\nOpen `Globals` node and update the values below 👇\n\n- **repo.owner:** your Github username\n- **repo.name:** the name of your repository\n- **repo.path:** the folder to use within the repository.\n\n\nIf your username was `john-doe` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\n- repo.owner - john-doe\n- repo.name - n8n-backups\n- repo.path - workflows/\n",
        "height": 420,
        "width": 320
      },
      "id": "8f60ad2f-f928-4879-b4ab-44d671e9daff",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -752,
        -288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Edit this node 👇",
        "height": 80,
        "width": 150,
        "color": 4
      },
      "id": "d3c8e79f-c4d2-4338-956b-c2addd14581b",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        -288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repo.owner }}/{{ $json.repo.name }}/contents/{{ $json.repo.path }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "af97cbd8-2b1b-4594-989f-2d03e7141de9",
      "name": "Get all files in given path",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -288,
        160
      ],
      "typeVersion": 4.2,
      "credentials": {
        "githubApi": {
          "id": "ep0tN9S6DnQS5et2",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "path",
        "options": {}
      },
      "id": "e8e3dc22-a4c2-4a7c-96b0-a2fba771d2e3",
      "name": "Split the result",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -48,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "amitvishwa19",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup-v2",
          "mode": "name"
        },
        "filePath": "={{ $('Get all files in given path').item.json.path }}",
        "additionalParameters": {}
      },
      "id": "8f440ed5-eb48-4181-8a0e-1d0a2434928b",
      "name": "Get file content from GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        176,
        160
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "c774e9c4-99fb-4ba5-953e-3f18142c9c9d",
      "credentials": {
        "githubApi": {
          "id": "ep0tN9S6DnQS5et2",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "ca64515d-9291-4ac5-84c2-fbbb694db4f2",
      "name": "Convert files to JSON",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        400,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ JSON.stringify($json.data) }}",
        "requestOptions": {}
      },
      "id": "65bd77b6-b99e-436d-b59e-cd632afe01f5",
      "name": "Restore n8n Workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        608,
        160
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "VeOLbXqWZBB21vei",
          "name": "n8n account"
        }
      }
    }
  ],
  "pinData": null,
  "settings": {},
  "shared": [
    {
      "createdAt": "2025-09-09T05:57:07.261Z",
      "updatedAt": "2025-09-09T05:57:07.261Z",
      "role": "workflow:owner",
      "workflowId": "aU5dvFcfuXZezEAk",
      "projectId": "LcKquKU3RqmibYpm"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-09T05:57:07.188Z",
  "versionId": "9e385774-22a1-468f-b00e-6fa76139d4f8"
}